@model CoreLibrary.Entities.Items.Equipment

@{
    ViewData["Title"] = "Szczegoly";
}

<h1>Szczegóły</h1>

<div>
    <h4>Ekwipunek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GivenToEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GivenToEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            Typ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
